<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.jeffery.permission">

    <application>
        <activity
            android:name=".PermissionActivity"
            android:theme="@style/ThemeTranslucent" />
        <provider
            android:name=".PermissionProvider"
            android:authorities="${applicationId}:DynamicPermission"
            android:exported="false" />
    </application>
</manifest>